body{
    background-color: #eff3f7;
}
.consult-main{
    margin-top: 100px;
}
.consult-nav li,
.consult-pandect-nav li,
.consult-ls-nav li,
.rise-ls-nav li,
.drop-ls-nav li,
.consult-hk-nav li,
.rise-hk-nav li,
.drop-hk-nav li,
.consult-us-nav li,
.rise-us-nav li,
.drop-us-nav li,
.consult-lg-nav li{
    float: left;
    text-align: center;
}
.consult-nav li{
    border: 1px solid #ccc;
    width: 20%;
    font-size: 18px;
    padding: 5px 0;
}
.consult-pandect-nav,
.consult-ls-nav,
.consult-hk-nav,
.consult-us-nav,
.consult-lg-nav{
    margin-top: 10px;
    margin-bottom: 3px;
}
.rise-ls-nav,
.drop-ls-nav,
.rise-hk-nav,
.drop-hk-nav,
.rise-us-nav,
.drop-us-nav{
    margin-top: 20px;
}
.consult-pandect-nav,
.consult-ls-nav,
.rise-ls-nav,
.drop-ls-nav,
.consult-hk-nav,
.rise-hk-nav,
.drop-hk-nav,
.consult-us-nav,
.rise-us-nav,
.drop-us-nav,
.consult-lg-nav{
    display: inline-block;
}
.consult-pandect-nav .tab-content,
.consult-ls-nav .tab-content,
.consult-hk-nav .tab-content,
.consult-us-nav .tab-content,
.consult-lg-nav .tab-content{
    border-top: 1px solid #ccc;
}
.consult-pandect-nav li,
.consult-ls-nav li,
.rise-ls-nav li,
.drop-ls-nav li,
.consult-hk-nav li,
.rise-hk-nav li,
.drop-hk-nav li,
.consult-us-nav li,
.rise-us-nav li,
.drop-us-nav li,
.consult-lg-nav li{
    font-size: 14px;
    padding:0 20px;
    border-left: 1px solid #ccc;
}
.tab-pandect{
    border-top: 1px solid #ccc;
}
.tab-pandect,
.tab-lg{
    background-color: #fff;
}
#rise-ls,
#drop-ls,
#rise-hk,
#drop-hk,
#rate-hk,
#rise-us,
#drop-us{
    background-color: #fff;
    border-top: 1px solid #ccc;
}
#rise-ls .tab-content,
#drop-ls .tab-content,
#rise-hk .tab-content,
#drop-hk .tab-content,
#rate-hk .tab-content,
#rise-us .tab-content,
#drop-us .tab-content{
    margin-top: -20px;
}
.container>.tab-content{
    margin-top: 70px;
}
.box{
    border: 1px solid #ccc;
}
table thead{
    background-color: #e8f2ff;
}
.portlet-body{
    padding: 25px 20px;
}
.up{
    color: #f00;
}
.consult-nav>.active{
    border-bottom: #ff7d00 2px solid;
    background-color: #fff;
}
.consult-ls-nav>.active,
.consult-hk-nav>.active,
.consult-us-nav>.active,
.consult-lg-nav>.active{
    background-color: #ff7d00;
    color: #FFF;
}
#userSystem{
    display: block;
}
#userSystem:hover ul{
    display: block;
    background-color:#222 !important;
}
.userSystem{
    display: none;
    position: absolute;
    min-width: 120px;
    margin-left:-40px;
    z-index: 99;
}
.userSystem li{
    background-color:#222;
    font-size: 14px;
    color: #9d9d9d;
}
.userSystem li a{
    display: block;
    padding:10px;
    line-height: 20px;
    color: #9d9d9d;
    font-size: 14px;
    cursor:pointer;
}
.userSystem li a:hover{
    color:#fff;
    background-color: #0c0c0c;
}
.userSystem li:last-child a{
    margin-bottom:20px;
}
