<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.account.dao.StockDataMapper" >
  <resultMap id="BaseResultMap" type="com.chen.account.entity.StockData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="stock_id" property="stockId" jdbcType="VARCHAR" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="have_amount" property="haveAmount" jdbcType="VARCHAR" />
    <result column="sell_amount" property="sellAmount" jdbcType="VARCHAR" />
    <result column="stock_money" property="stockMoney" jdbcType="VARCHAR" />
    <result column="buy_money" property="buyMoney" jdbcType="VARCHAR" />
    <result column="pro_amount" property="proAmount" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, stock_id, stock_name, have_amount, sell_amount, stock_money, buy_money, 
    pro_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stock_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stock_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chen.account.entity.StockData" >
    insert into stock_data (id, phone, stock_id, 
      stock_name, have_amount, sell_amount, 
      stock_money, buy_money, pro_amount
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, 
      #{stockName,jdbcType=VARCHAR}, #{haveAmount,jdbcType=VARCHAR}, #{sellAmount,jdbcType=VARCHAR}, 
      #{stockMoney,jdbcType=VARCHAR}, #{buyMoney,jdbcType=VARCHAR}, #{proAmount,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chen.account.entity.StockData" >
    insert into stock_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="haveAmount != null" >
        have_amount,
      </if>
      <if test="sellAmount != null" >
        sell_amount,
      </if>
      <if test="stockMoney != null" >
        stock_money,
      </if>
      <if test="buyMoney != null" >
        buy_money,
      </if>
      <if test="proAmount != null" >
        pro_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="haveAmount != null" >
        #{haveAmount,jdbcType=VARCHAR},
      </if>
      <if test="sellAmount != null" >
        #{sellAmount,jdbcType=VARCHAR},
      </if>
      <if test="stockMoney != null" >
        #{stockMoney,jdbcType=VARCHAR},
      </if>
      <if test="buyMoney != null" >
        #{buyMoney,jdbcType=VARCHAR},
      </if>
      <if test="proAmount != null" >
        #{proAmount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.account.entity.StockData" >
    update stock_data
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="haveAmount != null" >
        have_amount = #{haveAmount,jdbcType=VARCHAR},
      </if>
      <if test="sellAmount != null" >
        sell_amount = #{sellAmount,jdbcType=VARCHAR},
      </if>
      <if test="stockMoney != null" >
        stock_money = #{stockMoney,jdbcType=VARCHAR},
      </if>
      <if test="buyMoney != null" >
        buy_money = #{buyMoney,jdbcType=VARCHAR},
      </if>
      <if test="proAmount != null" >
        pro_amount = #{proAmount,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.account.entity.StockData" >
    update stock_data
    set phone = #{phone,jdbcType=VARCHAR},
      stock_id = #{stockId,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      have_amount = #{haveAmount,jdbcType=VARCHAR},
      sell_amount = #{sellAmount,jdbcType=VARCHAR},
      stock_money = #{stockMoney,jdbcType=VARCHAR},
      buy_money = #{buyMoney,jdbcType=VARCHAR},
      pro_amount = #{proAmount,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>