<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.account.dao.StockDataMapper">
  <resultMap id="BaseResultMap" type="com.chen.account.entity.StockData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="stock_id" jdbcType="VARCHAR" property="stockId" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="have_amount" jdbcType="INTEGER" property="haveAmount" />
    <result column="sell_amount" jdbcType="INTEGER" property="sellAmount" />
    <result column="stock_money" jdbcType="DOUBLE" property="stockMoney" />
    <result column="buy_money" jdbcType="DOUBLE" property="buyMoney" />
    <result column="pro_money" jdbcType="DOUBLE" property="proMoney" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, stock_id, stock_name, have_amount, sell_amount, stock_money, buy_money, 
    pro_money
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chen.account.entity.StockData">
    insert into stock_data (id, phone, stock_id, 
      stock_name, have_amount, sell_amount, 
      stock_money, buy_money, pro_money
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, 
      #{stockName,jdbcType=VARCHAR}, #{haveAmount,jdbcType=INTEGER}, #{sellAmount,jdbcType=INTEGER}, 
      #{stockMoney,jdbcType=DOUBLE}, #{buyMoney,jdbcType=DOUBLE}, #{proMoney,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chen.account.entity.StockData">
    insert into stock_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="stockName != null">
        stock_name,
      </if>
      <if test="haveAmount != null">
        have_amount,
      </if>
      <if test="sellAmount != null">
        sell_amount,
      </if>
      <if test="stockMoney != null">
        stock_money,
      </if>
      <if test="buyMoney != null">
        buy_money,
      </if>
      <if test="proMoney != null">
        pro_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="haveAmount != null">
        #{haveAmount,jdbcType=INTEGER},
      </if>
      <if test="sellAmount != null">
        #{sellAmount,jdbcType=INTEGER},
      </if>
      <if test="stockMoney != null">
        #{stockMoney,jdbcType=DOUBLE},
      </if>
      <if test="buyMoney != null">
        #{buyMoney,jdbcType=DOUBLE},
      </if>
      <if test="proMoney != null">
        #{proMoney,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.account.entity.StockData">
    update stock_data
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="haveAmount != null">
        have_amount = #{haveAmount,jdbcType=INTEGER},
      </if>
      <if test="sellAmount != null">
        sell_amount = #{sellAmount,jdbcType=INTEGER},
      </if>
      <if test="stockMoney != null">
        stock_money = #{stockMoney,jdbcType=DOUBLE},
      </if>
      <if test="buyMoney != null">
        buy_money = #{buyMoney,jdbcType=DOUBLE},
      </if>
      <if test="proMoney != null">
        pro_money = #{proMoney,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.account.entity.StockData">
    update stock_data
    set phone = #{phone,jdbcType=VARCHAR},
      stock_id = #{stockId,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      have_amount = #{haveAmount,jdbcType=INTEGER},
      sell_amount = #{sellAmount,jdbcType=INTEGER},
      stock_money = #{stockMoney,jdbcType=DOUBLE},
      buy_money = #{buyMoney,jdbcType=DOUBLE},
      pro_money = #{proMoney,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>