<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
</head>
<body>
<header>
    <nav class="navbar ">
        <div class="container">
            <ul class="nav">
                <li><a href="#">Brand</a></li>
                <li><a href="#">首页 </a></li>
                <li><a href="#" class="active">行情</a></li>
                <li><a href="#">咨询</a></li>
                <li><a href="#">关于</a></li>
                <li><a href="#" class="active">我的</a></li>
                <li>
                    <a id="userId">name</a>
                    <ul class="userSystem">
                        <li><a>我的账户</a></li>
                        <li><a>退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>