<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta charset="UTF-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <title>模拟交易</title>
    <link rel="stylesheet" href="/simulation/css/common.css"/>
    <link rel="stylesheet" href="/simulation/css/ui.css"/>
    <link rel="stylesheet" href="/simulation/css/trade.css"/>
    <link rel="stylesheet" href="/simulation/css/index.css"/>
</head>
<body>
<header>
    <nav class="navbar ">
        <div class="container">
            <ul class="nav">
                <li><a href="#">Brand</a></li>
                <li><a href="#">首页 </a></li>
                <li><a href="#" class="active">行情</a></li>
                <li><a href="#">咨询</a></li>
                <li><a href="#">关于</a></li>
                <li><a href="#">我的</a></li>
                <li>
                    <a id="userId">name</a>
                    <ul class="userSystem">
                        <li><a>我的账户</a></li>
                        <li><a>退出系统</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- 页面额外的head -->

<div class="wrap">

    <div class="tabBox02">
        <ul>
            <li class="current">
                <a href="javascript:void(0)"><em class="cn"></em><span>沪深交易</span></a>
            </li>
            <li class="li02">
                <a href="#"><em class="hk"></em><span>港股交易</span></a>
            </li>
            <li class="">
                <a href="#"><em class="us"></em><span>美股交易</span></a>
            </li>
        </ul>
    </div>
    <div class="main03 clearBox">
        <div class="main03Left">
            <div class="cBox01">
                <div class="title01">
                    <h3>沪深自选</h3>
                </div>
                <div class="c01-2">
                    <div class="myStockList01" id="watchList">
                        <ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main03Right">
            <div class="zichanInfoBar01 cBox01">
                <div class="div001"></div>
                <ul id="account">
                    <li>
                        <p class="p01">null</p>
                    </li>
                    <li>
                        <p class="p01">资产总值</p>
                        <p>--</p>
                    </li>
                    <li>
                        <p class="p01">证券市值</p>
                        <p>--</p>
                    </li>
                    <li>
                        <p class="p01">现金结余</p>
                        <p>--</p>
                    </li>
                    <li>
                        <p class="p01">盈亏总额</p>
                        <p>--</p>
                    </li>
                </ul>
            </div>

            <div class="cBox01 tradeBox01 clearBox">
                <div class="tradeHqBar01" id="quote">
                    <div class="nameBar">
                        <div class="div001">
                            <span title="-- --">-- --</span>
                        </div>
                        <div class="div002">
                            <span class="price01">--</span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="fr01">
                            <span class="time001"><i></i>--</span>
                            <a href="#" class="button button-3 btn06"><i
                                    class="iconfont">&#xe607;</i><span>自选</span></a>
                            <a href="#" class="button button-3 btn05" style="display:none;"><i
                                    class="iconfont">&#xe606;</i><span>取消自选</span></a>
                        </div>
                    </div>
                    <div class="listBar clearBox">
                        <ul>
                            <li>
                                <p>最高：<span class="up">-- --</span></p>

                                <p>最低：<span class="down">-- --</span></p>

                            </li>
                            <li>
                                <p>今开：<span class="up">-- --</span></p>

                                <p>昨收：<span>-- --</span></p>

                            </li>
                            <li>
                                <p>成交额：<span>-- --</span></p>

                                <p>成交量：<span>-- --</span></p>

                            </li>
                            <li>
                                <p>市盈率：<span>-- --</span></p>

                                <p>市　值：<span>-- --</span></p>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fLeft">
                    <div class="zxBox01">
                        <div class="tbC01 tbC02">
                            <div class="kTab01">

                            </div>
                        </div>
                    </div>
                    <form id="tradeForm">
                        <input type="hidden" id="accountIdInput" name="account_id" value="5923451"/>
                        <ul class="tradeForm01" style="margin-top: 20px;">
                            <li>
                                <div class="divT01">类型</div>
                                <div class="divC01">
                                    <div class="txt001">普通交易</div>
                                    <!--
                                    <div style="z-index:24" class="inputBar01 inputBar01W01">
                                        <input type="text" readonly="true" name="order_type_s" class="inputTxt01" value="普通交易">
                                        <span class="row01"><i class="iconfont">&#xe600;</i></span>
                                        <div class="selectFloatBox" style="display:none;">
                                            <a onclick="return false;" href="#" order_type="0">普通交易</a>
                                            <a onclick="return false;" href="#" order_type="2">条件交易</a>
                                            <a onclick="return false;" href="#" order_type="1">竞价交易</a>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </li>
                            <li>
                                <div class="divT01">代码</div>
                                <div class="divC01">
                                    <div style="z-index:23" class="inputBar01 inputBar01W01 ui-selectbox-wrapper"
                                         data-type="combobox">
                                        <input type="text" id="stockCodeInput" name="stockCode"
                                               class="inputTxt01 ui-selectbox-input" value=""/>
                                        <select class="ui-selectbox-select">
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="li02" id="li02">
                                <div class="divC01">
                                    <div class="div001">
                                        <span class="fl js-form-stockName"></span>
                                        <span class="fr"><span class="js-form-stockPriceLabel up"
                                                               style="cursor: pointer;"></span></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="divT01">价格</div>
                                <div class="divC01">
                                    <div style="z-index:22" class="inputBar01 inputBar01W01">
                                        <input type="text" name="price" id="price"
                                               class="inputTxt01 ui-tradepriceinput js-form-stockPrice"
                                               data-market-type="3" value="0"/>
                                        <span class="row01 row02 row02-2 ui-numberinput-increase"><i class="iconfont">&#xe607;</i></span>
                                        <span class="row01 row02 ui-numberinput-decrease"><i
                                                class="iconfont">&#xe606;</i></span>
                                    </div>
                                </div>
                            </li>
                            <li class="li02" id="li022">
                                <div class="div001 js-onelevel-wrapper">
                                    <span class="fl">买一价 <font
                                            class="buy cursorPointer js-onelevel-buy">--</font></span>
                                    <span class="fr">卖一价 <font
                                            class="sell cursorPointer js-onelevel-sell">--</font></span>
                                </div>
                            </li>
                            <li>
                                <div class="divT01">数量</div>
                                <div class="divC01">
                                    <div style="z-index:21" class="inputBar01 inputBar01W01">
                                        <input type="text" name="qty_str" data-format="0,0"
                                               class="inputTxt01 ui-numberinput-format js-form-quantity-str" value="0"/>

                                        <span class="row01 row02 row02-2 ui-numberinput-increase"><i class="iconfont">&#xe607;</i></span>
                                        <span class="row01 row02 ui-numberinput-decrease"><i
                                                class="iconfont">&#xe606;</i></span>
                                    </div>
                                </div>
                            </li>
                            <li class="li02" id="li0222">
                                <div class="div001">
                                    <span class="fl">最大可买 <font
                                            class="buy js-form-buyLimit cursorPointer">0</font></span>
                                    <span class="fr">最大可卖 <font
                                            class="sell js-form-sellLimit cursorPointer">0</font></span>
                                </div>
                            </li>
                            <li class="btnLi01">
                                <button type="button" id="buy" class="button btn01 js-buy-sell-btn">模拟买入
                                </button>
                                <button type="button" id="sell" class="button btn02 js-buy-sell-btn">模拟卖出
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="fRight">
                    <div class="zxBox01">
                        <div class="tbC01 tbC02" id="chartsWrapper">
                            <div class="kTab01">
                                <a href="javascript:void(0)" class="current js-chart-btn"
                                   data-target="chartWrapper">分时图</a>
                                <a href="javascript:void(0)" class="js-chart-btn" data-target="kChartWrapper"
                                   data-type="2">日K</a>
                                <a href="javascript:void(0)" class="js-chart-btn" data-target="kChartWrapper"
                                   data-type="3">周K</a>
                                <a href="javascript:void(0)" class="js-chart-btn" data-target="kChartWrapper"
                                   data-type="4">月K</a>
                            </div>
                            <div id="container" style="width:540px;height:330px;margin:auto"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gap02"></div>
            <!-- 股票持仓 -->
            <div class="cBox01">
                <div class="title01">
                    <h3>股票持仓</h3>
                </div>
                <div class="c01-2">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="tableList01">
                        <thead>
                        <tr>
                            <th align="left">
                                <div class="tdP01">代码</div>
                            </th>
                            <th width="100" align="left">
                                <div class="tdP01">名称</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">持有数量@市价</div>
                            </th>
                            <th align="right">
                                <div class="tdP01">可卖数量</div>
                            </th>
                            <th align="right">
                                <div class="tdP01">市值</div>
                            </th>
                            <th align="right">
                                <div class="tdP01">成本价</div>
                            </th>
                            <th align="right">
                                <div class="tdP01">盈亏金额</div>
                            </th>
                            <th align="right">
                                <div class="tdP01">盈亏比例</div>
                            </th>
                            <!--<th align="right"><div class="tdP01">今日盈亏</div></th>-->
                            <th align="center">
                                <div class="tdP01">操作</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="positions">

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="gap02"></div>
            <!-- 订单记录 -->
            <div class="cBox01 ui-trade-tabs-wrapper">
                <div class="title05">
                    <div class="tabBox01">
                        <a class="current ui-tabs-trigger" data-target="order" href="#">订单记录</a>
                        <a class="ui-tabs-trigger" data-target="deal" href="#">成交记录</a>
                    </div>
                </div>
                <!-- 订单记录  -->
                <div class="c01-2 ui-tabs-panel" id="orderPart" data-id="order">

                    <div>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%" class="tableList01">
                            <thead>
                            <tr>
                                <th align="left">
                                    <div class="tdP01">方向</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">代码</div>
                                </th>
                                <th width="100" align="left">
                                    <div class="tdP01">名称</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">订单价格</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">订单数量</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">交易状态</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">已成交@均价</div>
                                </th>
                                <th align="left">
                                    <div class="tdP01">下单时间</div>
                                </th>
                                <th align="center">
                                    <div class="tdP01">操作</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="orders">
                            </tbody>
                        </table>
                    </div>
                    <!-- 成交记录 -->
                </div>
                <div class="c01-2 ui-tabs-panel mt01" id="dealPart" data-id="deal" style="display: none;">
                    <table cellspacing="0" cellpadding="0" border="0" width="100%" class="tableList01">
                        <thead>
                        <tr>
                            <th align="left">
                                <div class="tdP01">代码</div>
                            </th>
                            <th width="200" align="left">
                                <div class="tdP01">名称</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">成交价格</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">手续费</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">买入数量</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">卖出数量</div>
                            </th>
                            <th align="left">
                                <div class="tdP01">成交时间</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="deals"></tbody>
                    </table>
                    <div class="pageBox01" id="dealsPager"></div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="ui-dialog-wrapper" id="confirmDialog" style="display: none;">
    <div class="ui-dialog-dialogTitle">
        <button data-ui-dialog-event="close" class="ui-dialog-closeBtn iconfont">&#xe605;</button>
        <h3>下单确认</h3></div>
    <div class="ui-dialog-dialogBody">
    </div>
    <div class="ui-dialog-dialogFooter">
        <span class="fl"><!--<label class="checkbox01" title="不再提示"><input type="checkbox" name="order_nomore_tips" value="1"><u>不再提示</u></label>--></span>
        <span class="fr"><button data-ui-dialog-event="submit" class="button btn01" type="submit">确定</button><button
                data-ui-dialog-event="cancel" class="button btn02" type="button">取消</button></span>
    </div>
</div>
<footer>
    <div class="container">
        <div class="copyright">模拟股票交易系统@版权所有</div>
    </div>
</footer>
<script src="/tools/jquery.min.js"></script>
<script src="/simulation/js/highcharts.js"></script>
<script src="/simulation/js/main.js"></script>
</body>
</html>

